<div class="login-container">
  <mat-card class="login-card">
    <mat-card-header>
      <mat-card-title>Iniciar sesión</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <form (ngSubmit)="login()" #form="ngForm">
        <mat-form-field appearance="outline" class="full">
          <mat-label>Usuario</mat-label>
          <input matInput name="username" [(ngModel)]="username" required>
          <mat-icon matSuffix>person</mat-icon>
        </mat-form-field>

        <mat-form-field appearance="outline" class="full">
          <mat-label>Contraseña</mat-label>
          <input matInput type="password" name="password" [(ngModel)]="password" required>
          <mat-icon matSuffix>lock</mat-icon>
        </mat-form-field>

        <button mat-flat-button color="primary" class="full" type="submit" [disabled]="loading">
          {{ loading ? 'Ingresando...' : 'Ingresar' }}
        </button>

        @if (errorMessage) {
          <p class="error-message" >{{ errorMessage }}</p>
        }
      </form>
    </mat-card-content>
  </mat-card>
</div>